<!-- Describe task in general -->

<p>
    You have {% if interpreter.slug == "js-node" %}an array{% else %}a list{% endif %}. Each value from that {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} can be either a string or an integer. Your task here is to return two values. The first one is a concatenation of all strings from the given {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %}. The second one is a sum of all integers from the given {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %}.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}A list of strings and ints{% else %}An array of strings and integers{% endif %}
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}An array{% else %}A list or tuple{% endif %}
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">sumByTypes([]) == ['', 0]
sumByTypes([1, 2, 3]) == ['', 6]
sumByTypes(['1', 2, 3]) == ['1', 5]
sumByTypes(['1', '2', 3]) == ['12', 3]
sumByTypes(['1', '2', '3']) == ['123', 0]
sumByTypes(['size', 12, 'in', 45, 0]) == ['sizein', 57]
</pre>
{% else %}
<pre class="brush: python">sum_by_types([]) == ['', 0]
sum_by_types([1, 2, 3]) == ['', 6]
sum_by_types(['1', 2, 3]) == ['1', 5]
sum_by_types(['1', '2', 3]) == ['12', 3]
sum_by_types(['1', '2', '3']) == ['123', 0]
sum_by_types(['size', 12, 'in', 45, 0]) == ['sizein', 57]
</pre>
{% endif %}
</div>


<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>How it’s used: </strong>
    <i>(math is used everywhere)</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Precondition:</strong>
    <i>both given ints should be between -1000 and 1000</i>
</p>
